:root
{
  /* Light */
  --bgcolor: #e0e0e0;
  --textcolor: #282a36;

  /* Dark */
  /* --bgcolor: #1e1f28;
  --textcolor: #e9e9e4; */

  --linkHoverColor: #8195d3;

  --anchorPadding: 66px;

  max-width: 1400px;
  /* padding-top: 20%; */

  margin: auto;
  box-sizing: border-box;
  color: var(--textcolor);
  background-color: var(--bgcolor);
  line-height: 1.6;
  font-size: 24px;
  font-family: mainFont;
  text-align: center;
}

.anchorbottom
{
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  padding-bottom: var(--anchorPadding);
}

.anchortop
{
  font-size: 200%;
  font-weight: bold;
  position:fixed;
  top: var(--anchorPadding);
  left: 0px;
  width: 100%;
}

.column
{
  float: left;
  width: 260px;
}

.row:after
{
  content: "";
  display: table;
  clear: both;
}

@font-face
{
   font-family: mainFont;
   src: url(jbm.ttf);
}

h1
{
  font-size: 24px;
  padding-bottom: 20px;
}

p
{
  margin-top: 0px;
  margin-bottom: 4px;
}

a:link
{
  color: var(--textcolor);
  text-decoration: none;
}

a:visited
{
  color: var(--textcolor);
  text-decoration: none;
}

a:hover
{
  color: var(--linkHoverColor);
  text-decoration: underline;
}

.outside
{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
}
  
.inside
{
    margin: auto;
}

.element
{
    position: fixed;
    inset: 0px;
    margin: auto;
    max-width: 100%;
}